<h2 mat-dialog-title="">Ride Chat</h2>
<mat-dialog-content>
  <div class="message" *ngFor="let message of messages">
    {{message}}
  </div>
</mat-dialog-content>
<mat-dialog-actions id="chat-footer">
  <form id="new-message-form" [formGroup]="sendMessageForm">
    <mat-form-field id="new-message-box">
      <textarea matInput formControlName="messageToSend" placeholder="New message" matTextareaAutosize matAutosizeMinRows="1"
                matAutosizeMaxRows="5" [(ngModel)]="messageToSend"></textarea>
    </mat-form-field>
  </form>
  <button id="send-message-btn" mat-icon-button="" (click)="sendMessage()"><mat-icon>send</mat-icon></button>
  <button id="close-chat-btn" mat-icon-button="" mat-dialog-close=""><mat-icon>close</mat-icon></button>
</mat-dialog-actions>
