.msg-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 6px;
}

.rhs-msg {
  flex-direction: row-reverse;
}

.msg-profile-pic {
  border: solid 1px #ddd;
  border-radius: 3px;
  width: 45px;
  height: 45px;
  margin: 0 4px;
}

.msg-content-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.lhs-msg .msg-content-block { align-items: flex-start; }
.rhs-msg .msg-content-block { align-items: flex-end; }

.msg-body-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rhs-msg .msg-body-time-container {
  flex-direction: row-reverse;
}

.msg-body {
  width: fit-content;
  border-radius: 5px;
  padding: 6px 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  max-width: 300px;
}

.lhs-msg .msg-body {
  background: #ddd;
  color: #111;
}

.rhs-msg .msg-body {
  text-align: right;
  background: #3498db;
  color: #fff;
}

.msg-sent {
  font-size: 0.8rem;
  margin: 0 4px;
  color: #aaa;
}

.msg-from {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}
