.message-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.lhs-message {
  justify-content: flex-start;
}

.rhs-message {
  justify-content: flex-end;
}

.message-body {
  width: fit-content;
  border-radius: 5px;
  padding: 6px 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.lhs-message .message-body {
  background: #ddd;
  color: #111;
}

.rhs-message .message-body {
  background: #3498db;
  color: #fff;
}
