<div class="container">
  <h1>Search for Rides!</h1>
  <div class="form-group">
    <mat-form-field style="width:100%">
      <input matInput placeholder="search for location"
             autocorrect="off"
             autocapitalize="off"
             spellcheck="off"
             type="text"
             #search
             [formControl]="searchControl"
             [(ngModel)]="mapsSearchInput"
             (click)="clearInput()">
    </mat-form-field>
  </div>
  <app-maps [lat]="latitude" [lng]="longitude" [mapHeightVH]="40" [markers]="markers"></app-maps>
</div>
