/* Ride card */
.rides, .unfilteredRides {
  margin-bottom: 6px;
  border-radius: 6px;
}

.mat-expansion-panel-header.mat-expanded {
  background: whitesmoke;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
  background: whitesmoke;
}

#open-chat-button {
  float: right;
  background-color: #2C484F;
  border-radius: 1%;
  width: 20%;
}


 /*Ride card title */
.ride-title {
  background: #93CDDB;
  color: black;
  border-radius: 6px;
  white-space: nowrap;
}

.route {
  position: relative;
  display: block;
  width: 100%;
}

.origin {
  display: flex;
  width: 100%;
}

.destination {
  display: flex;
  width: 100%;
}

.departure-time {
  color: #fff;
}

.origin_circle {
  color: black;
}

.destination_circle {
  color: black;
}

@media only screen and (max-width: 374px) {
  .ride-title {
  }

  .rides {
  }

  .destination {
    left: 10%;
  }

  .origin {
    left: 10%;
  }

  .destination_circle, .origin_circle {
    transform: scale(0.3);
    left: 10%;
    margin-top: -3px;
  }

  .destination_text, .origin_text {
    font-size: 3vw;

  }
}

@media only screen and (max-width: 956px) {
  .destination_text, .origin_text {
    margin: 5px 0px 0px 0px;
  }
  .destination, .origin {
    margin: 5px 0px 5px 0px;
  }

  .three_circles {
    margin: -5px 0px -5px 0px;
    transform: scale(0.8);
    float: left;
  }
}
