<div class="menu-spacer"></div>

<div id="ridesWrapper" layout-gt-sm="row">
  <div flex-gt-sm="40" flex-offset-gt-sm="30">
    <div *ngIf="rides && rides.length>0; else ridesError">
        <app-ride *ngFor="let r of rides" [ride]="r"></app-ride>
    </div>
    <br/><br/><br/>


    <!--<div class="wrapper">-->
      <!--<div *ngIf="array;">-->
        <!--<h2>Here are some rides close to the date you entered:</h2>-->
        <!--<app-ride #elem class="unfilteredRides" *ngFor="let r of unfilteredRides" [ride]="r"></app-ride>-->
      <!--</div>-->
    <!--</div>-->

    <ng-template #ridesError>
      <div class="no-rides-message">
        <p>No rides matching the filter. Maybe try a nearby location?</p>
        <button mat-flat-button routerLink="/filter" color="accent">Search Again</button>
      </div>
    </ng-template>

    <!--This just creates enough space to scroll on mobile-->
    <p></p>
  </div>
</div>

