/* body */
body {
  height: auto;
  overflow-x: hidden;
}
/* Aligns title with contents horizontally */
.mat-card-title, .mat-card-subtitle {
  padding-left: 8px;
}
/* Fab Buttons */

@media only screen and (min-width: 956px) {
  #filterButton, #add-ride-button {
    transform: scale(1.5);
  }

  #filterButton{
    position: fixed;
    left: 5%;

    top: 15%;

    z-index: 100;
  }

  #add-ride-button{
    position: fixed;
    left: 5%;
    top: 25%;
    z-index: 100;
  }
}


.plus-icon {
  transform: scale(1.1);
}

/* Datepicker */
#datePickerField{
  left: 50%;
}

/* Don't display time stamp when small screen */
@media only screen and (max-width: 955px) {
  .time {
    display: none;
    background: none;
  }

  #add-ride-button {
    position: fixed;
    left: 4%;

    bottom: 13%;


    z-index: 100;
  }

  #filterButton {
    position: fixed;
    bottom: 13%;
    right: 4%;
    z-index: 100;
  }

  #ridesWrapper {
  margin-bottom: 40%;
  }
}
/* Time div */
.time {
  position: absolute;
  top: 5%;
  left: 2%;
  max-width: 15%;
}



/* Ride card */
.rides, .unfilteredRides {
  margin-bottom: 15px;
  border-radius: 20px;
}

/* Ride card title */
.ride-title {
  display: flex;
  justify-content: space-between;
  background: #29b6f6 linear-gradient(to right bottom, #29b6f6,#73e8ff);
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#open-chat-button {
  background: #34495e;
  color: #fff;
}

.departure-time {
  color: #fff;
}

.seats-left {
  display: inline-block;
  padding: 4px 6px;
  margin-top: 8px;
  border-radius: 30px;
  font-weight: bold;
  color: black;
  background-color: rgba(255,255,255,1);
}

/* Ride card contents */
.ride-info {
  color: #222;
  font-size: 0.8rem;
}

/* Displays the origin/destination in a compact, visual way */
.route {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.route mat-icon {
  align-self: center;
  margin: 0 4px;
}

.origin, .destination {
  background: #ddd;
  border-radius: 2px;
  padding: 6px;
}

/* Driver and notes */
.driver {
  margin: 12px 0 8px 0;
  font-size: 0.85rem;
  font-weight: bold;
}

.notes {
  max-width: 500px;
  padding-top: 8px;
}

.notes small {
  font-weight: bold;
  color: #000;
}

/* Title */
h1,h2 {
  position: relative;
  text-align: center;
}
