<mat-card #elem class="rides" [id]="ride._id.$oid">
  <mat-card-header class="ride-title">
    <mat-card-title>
      <div class="departure-time">
        <span *ngIf="ride.departureDate">{{ride.departureDate}}</span>
        <span *ngIf="ride.departureDate && ride.departureTime"> at </span>
        <span *ngIf="ride.departureTime">{{ride.departureTime}}</span>
      </div>
      <div class="seats-left">
        <small>{{ride.seatsAvailable}} SEATS LEFT</small>
      </div>
    </mat-card-title>
    <button mat-button id="open-chat-button" (click)="openChat(ride._id.$oid)"><mat-icon>chat</mat-icon></button>
  </mat-card-header>

  <mat-card-content>
    <div class="route" *ngIf="ride.origin && ride.destination; else errorBlock">
      <div class="ride-info origin">{{ride.origin.name}}</div>
      <mat-icon>play_arrow</mat-icon>
      <div class="ride-info destination">{{ride.destination.name}}</div>
    </div>
    <ng-template #errorBlock>
      There was an error loading this ride.
    </ng-template>


    <div id="ride-info-driver-id" class="ride-info driver">
      {{ride.driver}} is offering this ride
    </div>

    <mat-divider [inset]="true" *ngIf="ride.notes"></mat-divider>

    <div *ngIf="ride.notes" class="ride-info notes">
      <small>DRIVER NOTES:</small>
      <div>{{ride.notes}}</div>
    </div>
  </mat-card-content>
</mat-card>
