/* body */
body {
  height: auto;
  overflow-x: hidden;
}

#body {
  position: fixed;
  top: 10vh;
  width: 100%;
}
/* Aligns title with contents horizontally */
.mat-card-title, .mat-card-subtitle {
  padding-left: 8px;
}

/* Date Picker */

.mat-datepicker-popup {
  position: relative;
  top: 50% !important;
}

@media only screen and (min-width: 956px) {
  #filterButton, #add-ride-button {
    transform: scale(1.5);
  }

  #filterButton{
    position: fixed;
    left: 5%;

    top: 15%;

    z-index: 100;
  }

  #add-ride-button{
    position: fixed;
    left: 5%;
    top: 25%;
    z-index: 100;
  }
}


.plus-icon {
  transform: scale(1.1);
}

/* Datepicker */
#datePickerField{
  left: 50%;
}

/* Don't display time stamp when small screen */
@media only screen and (max-width: 955px) {
  .time {
    display: none;
    background: none;
  }

  #add-ride-button {
    position: fixed;
    left: 4%;

    bottom: 13%;


    z-index: 100;
  }

  #filterButton {
    position: fixed;
    bottom: 13%;
    right: 4%;
    z-index: 100;
  }

  #ridesWrapper {
  margin-bottom: 40%;
  }
}
/* Time div */
.time {
  position: absolute;
  top: 5%;
  left: 2%;
  max-width: 15%;
}

/* Title */
h1,h2 {
  position: relative;
  text-align: center;
}

.no-rides-message {
  text-align: center;
}
