/* Ride card */
.rides, .unfilteredRides {
  margin-bottom: 6px;
  border-radius: 6px;
}

.mat-expansion-panel-header.mat-expanded:hover {
  background-color: whitesmoke;
}

.mat-expansion-panel-header.mat-expanded {
  background-color: whitesmoke;
}


.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
   background-color: whitesmoke;
}

#open-chat-button {
  float: right;
  background-color: #2C484F;
  border-radius: 1%;
  width: 20%;
}


 /*Ride card title */
.ride-title {
  color: black;
  border-radius: 6px;
  white-space: nowrap;
}

.route {
  position: relative;
  display: block;
  width: 100%;
  background-color: whitesmoke;
}

.origin {
  display: flex;
  width: 100%;
}

.destination {
  display: flex;
  width: 100%;
}

.origin_icon {
  color: black;
}

.destination_icon {
  color: black;
}

@media only screen and (max-width: 374px) {
  .route {
    border-radius: 0px 6px 6px 0px;
    text-align: center;
  }
  .origin {
    display: flex;
    flex: 1;
    left: 10%;
  }

  .destination {
    display: flex;
    flex: 1;
    left: 10%;
  }

  .destination_icon, .origin_icon {
    transform: scale(0.3);
    left: 10%;
    margin-top: -3px;
  }

  .destination_icon {
    transform: scale(0.5) !important;
    margin-top: -2px !important;
  }

  .destination_text, .origin_text {
    font-size: 3vw;
  }

  .time-date {
    vertical-align: middle;
    padding: 8px 8px 4px 8px;
    display: flex;
    flex-direction: column;
    float: left;
    text-align: center;
    font-size: 4vw;
    background-color: #7cb518;
    color: #ffffff;
    border-radius: 6px 0px 0px 6px;
    font-weight: bold;
  }
  #divider {

    margin: 0px 10px 0px 10px;

  }
}

@media only screen and (max-width: 956px) {
  .destination_text, .origin_text {
    margin: 5px 0px 0px 0px;
  }
  .destination, .origin {
    margin: 5px 0px 5px 0px;
  }

  .three_circles {
    margin: -5px 0px -5px 0px;
    transform: scale(0.8);
    float: left;
  }
}

