#lean-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: fixed;
  left: 10px;
  z-index: 100;
}

.background {
  background:
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('images/GoogleMap2Edited.png') !important;
}

#menu-spacer {
  height: 48px;
}

mat-sidenav {
  max-width: 80vw;
}

mat-sidenav-content {
  height: 100vh;
}
