<td-layout #layout>
  <td-navigation-drawer id="navDrawer" flex sidenavTitle="MoRide">
    <mat-nav-list id="navList">
      <a mat-list-item [routerLink]="['/rides']" (click)="layout.close()" routerLinkActive="nav-active">
        <mat-icon>directions_car</mat-icon>
        Rides
        </a>
      <a mat-list-item [routerLink]="['/user']" (click)="layout.close()" routerLinkActive="nav-active">
        <mat-icon>account_box</mat-icon>
        My Profile
      </a>
      <a mat-list-item (click)="clearStorage();" routerLinkActive="nav-active">
        <mat-icon>account_box</mat-icon>
        Log Out
      </a>
    </mat-nav-list>
  </td-navigation-drawer>
  <td-layout-nav toolbarTitle="MoRide" navigationRoute="/">
    <button id="navDrawerButton" mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-chip-list>
      <mat-chip class="loginChip">{{ this.text }}</mat-chip>
    </mat-chip-list>
    <router-outlet></router-outlet>
  </td-layout-nav>
</td-layout>

<button mat-button id="ridesPageButton" class="bottomButton" [routerLink]="['/rides']"
        (click)="layout.close()">
  <mat-icon class="buttonIcon">directions_car</mat-icon>
  <div>View Rides</div>
</button>
<button mat-button id="userPageButton" class="bottomButton" [routerLink]="['/user']"
        (click)="layout.close()">
  <mat-icon class="buttonIcon">account_box</mat-icon>
  <div>My Profile</div>
</button>
<button mat-button id="logoutPageButton" class="bottomButton"
        (click)="clearStorage();">
  <mat-icon class="buttonIcon">account_box</mat-icon>
  <div>Log Out</div>
</button>
