
<app-maps [mapHeightVH]="100"></app-maps>

<div id="inputpart">
    <mat-horizontal-stepper id="steppercontainer"  linear>
      <mat-step class="steps"  [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
        <mat-card>
          <mat-card-content>
            <mat-form-field>
              <input name="driverField" matInput #input id="driverID" placeholder="Input your name"
                     required [(ngModel)]="rideDriver" formControlName="driver">
            </mat-form-field>

            <div class="action-container">
              <div class="nextButton">
                <button mat-button matStepperNext type="button">Next</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        </form>
      </mat-step>

      <mat-step class="steps" [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
        <mat-card>
        <mat-card-content>
          <mat-form-field>
          <input type="number" class="inputRideInfo" matInput #input id="seatsAvailableField" placeholder="Seats Available"
               required [(ngModel)]="rideSeats" formControlName="seatsAvailable">
          </mat-form-field>
        <div class="action-container">
          <div class="previousButton">
            <button mat-button matStepperPrevious type="button">Back</button>
          </div>
          <div class="nextButton">
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </div>
        </mat-card-content>
          </mat-card>
        </form>
      </mat-step>

      <mat-step class="steps" [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
        <mat-card>
          <mat-card-content>
        <app-mapsSearch class="inputRideInfo" #input id="originField"
                        [(mapsSearchInput)]="rideOrigin" [searchControl]="origin"
                        searchPlaceholder="Enter starting location">
        </app-mapsSearch>

        <div class="action-container">
          <div class="previousButton">
            <button mat-button matStepperPrevious type="button">Back</button>
          </div>
          <div class="nextButton">
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </div>
          </mat-card-content>
        </mat-card>
        </form>
      </mat-step>

      <mat-step class="steps"  [stepControl]="forthFormGroup">
        <form [formGroup]="forthFormGroup">
        <mat-card>
         <mat-card-content>
        <app-mapsSearch class="inputRideInfo" #input id="destinationField"
                        [(mapsSearchInput)]="rideOrigin" [searchControl]="origin"
                        searchPlaceholder="Enter starting location">
        </app-mapsSearch>

        <div class="action-container">
          <div class="previousButton">
            <button mat-button matStepperPrevious type="button">Back</button>
          </div>
          <div class="nextButton">
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </div>
         </mat-card-content>
       </mat-card>
        </form>
      </mat-step>

      <mat-step class="steps"  [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup">
        <input class="inputRideInfo" id="departureDateField" matInput [min]="todaysDate()" [matDatepicker]="picker"
               placeholder="Choose Departure Date" [(ngModel)]="rideDepartureDate" formControlName="departureDate">
        <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
        <mat-datepicker id="calendar" #picker></mat-datepicker>

        <div class="action-container">
          <div class="previousButton">
            <button mat-button matStepperPrevious type="button">Back</button>
          </div>
          <div class="nextButton">
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </div>
        </form>
      </mat-step>

      <mat-step class="steps"  [stepControl]="sixthFormGroup">
        <form [formGroup]="sixthFormGroup">
        <mat-card>
          <mat-card-content>
          <input type="time" class="inputRideInfo" matInput #input id="departureTimeField" placeholder="Departure Time"
               [(ngModel)]="rideDepartureTime" formControlName="departureTime">

        <div class="action-container">
          <div class="previousButton">
            <button mat-button matStepperPrevious type="button">Back</button>
          </div>
          <div class="nextButton">
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </div>
          </mat-card-content>
        </mat-card>
        </form>
      </mat-step>

      <mat-step class="steps"  [stepControl]="seventhFormGroup">
        <form [formGroup]="seventhFormGroup">
        <mat-card>
          <mat-card-content>
         <textarea class="inputRideInfo" matInput #input id="notesField" placeholder="Notes"
                   [(ngModel)]="rideNotes" formControlName="notes"></textarea>

        <div class="action-container">
          <div class="previousButton">
            <button mat-button matStepperPrevious type="button">Back</button>
          </div>
          <div class="nextButton">
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </div>
          </mat-card-content>
        </mat-card>
        </form>
      </mat-step>

    </mat-horizontal-stepper>
</div>
