#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

img {
  border: 2px solid gold;
  max-width: 100%;
  height: auto;
  float:left;
}

.cardInner {
  display: grid;
  grid-template-areas: "name picture" "contactInfo picture" "vehicle vehiclePicture";
  grid-template-rows: auto auto auto;
  grid-template-columns: 80% 45%;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  text-align: center;

}

.boxes {
  word-wrap: break-word;
  max-width: 100%;
  text-align: center;
  margin: 2%;
}

.picBoxes {
  max-width: 100%;
}

.mat-card .mat-card-title {
  font-family: "Arial Black";
}

.mat-card {
  font-family: Verdana;
}
#profilePicture {
  border-radius: 50%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}
#vehiclePic {
  width: 260px;
  border-radius: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;

}
#bio {
  width: 70%;
  margin: 5%;
}
#nameBox {

}
