<mat-horizontal-stepper [linear]="false" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Date</ng-template>
      <mat-form-field>
        <input class="inputRideInfo" id="departureDateField" matInput [min]="todaysDate()" [matDatepicker]="picker"
               placeholder="Filter by Departure Date" [(ngModel)]="departureDate" formControlName="departureDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker id="calendar" #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Origin</ng-template>

        <app-mapsSearch class="inputRideInfo" #input id="originField"
               [(mapsSearchInput)]="rideOrigin" [searchControl]="origin"
                        searchPlaceholder="Enter starting location">
        </app-mapsSearch>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!--<mat-step [stepControl]="thirdFormGroup">-->
    <!--<form [formGroup]="thirdFormGroup">-->
      <!--<ng-template matStepLabel>Destination</ng-template>-->
      <!--<mat-form-field>-->
        <!--<app-mapsSearch class="inputRideInfo"  #input id="destinationField" placeholder="Filter by Destination"-->
               <!--[(ngModel)]="rideDestination"></app-mapsSearch>-->
      <!--</mat-form-field>-->
      <!--<div>-->
        <!--<button mat-button matStepperPrevious>Back</button>-->
        <!--<button mat-button matStepperNext>Next</button>-->
      <!--</div>-->
    <!--</form>-->
  <!--</mat-step>-->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="submit()">Submit</button>
      <button mat-button (click)="stepper.reset();reset();">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<app-maps mapHeightVH="75"></app-maps>
