::ng-deep {
  .mat-horizontal-stepper-header-container {
    display: none !important;
  }
}

.steps {
  margin: auto;
  width: 100%;
}

#steppercontainer {
  background-color: transparent;
}

#inputpart {
  position: fixed;
  top: 10vh;
  width: 100%;
}

mat-datepicker-toggle {
  color: #421914;
}

mat-card-content {
  padding: 16px;
  margin: 0;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

app-mapsSearch {
  width: 100%;
}

@media only screen and (min-width: 700px) {
  mat-card {
    margin: 2px 31% 2px 26%;
  }
}
