<app-maps [mapHeightVH]="100"></app-maps>

<div id="inputpart">
<mat-horizontal-stepper [linear]="false" id="steppercontainer">
  <mat-step [stepControl]="firstFormGroup" class="steps">
    <form [formGroup]="firstFormGroup">
      <mat-card>
        <mat-card-content>
      <mat-form-field>
        <input class="inputRideInfo" id="departureDateField" matInput [min]="todaysDate()" [matDatepicker]="picker"
               placeholder="Filter by Departure Date" [(ngModel)]="departureDate" formControlName="departureDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker id="calendar" #picker></mat-datepicker>
      </mat-form-field>

            <button class="nextButton" mat-button matStepperNext type="button">Next</button>
      </mat-card-content>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" class="steps">
    <form [formGroup]="secondFormGroup">
      <mat-card>
        <mat-card-content>
        <app-mapsSearch class="inputRideInfo" #input id="originField"
               [(mapsSearchInput)]="rideOrigin" [searchControl]="origin"
                        searchPlaceholder="Enter starting location">
        </app-mapsSearch>

              <button class="previousButton" mat-button matStepperPrevious type="button">Back</button>
              <button class="nextButton" mat-button matStepperNext type="button">Next</button>

        </mat-card-content>
      </mat-card>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" class="steps">
    <form [formGroup]="thirdFormGroup">
      <mat-card>
        <mat-card-content>
      <ng-template matStepLabel>Destination</ng-template>

          <app-mapsSearch class="inputRideInfo" #input id="destinationField"
                          [(mapsSearchInput)]="rideDestination" [searchControl]="destination"
                          searchPlaceholder="Enter ending location">
          </app-mapsSearch>

        <button class="previousButton" mat-button matStepperPrevious>Back</button>
        <button class="nextButton"  mat-button matStepperNext>Next</button>

        </mat-card-content>
      </mat-card>
    </form>
  </mat-step>
  <mat-step class="steps">
    <mat-card>
    <mat-card-content>
    Click submit to view matching rides.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="submit()">Submit</button>
      <button mat-button (click)="stepper.reset();reset();">Reset</button>
    </div>
    </mat-card-content>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>
</div>

